addict==2.4.0
aiofiles==0.6.0
certifi==2020.12.5
click==7.1.2
demjson==2.2.4
h11==0.12.0
httpcore==0.12.2
httpx==0.16.1
idna==3.0
itsdangerous==1.1.0
Jinja2==2.11.2
justpy==0.1.5
MarkupSafe==1.1.1
numpy==1.19.4
pandas==1.2.0
python-dateutil==2.8.1
pytz==2020.5
rfc3986==1.4.0
six==1.15.0
sniffio==1.2.0
starlette==0.14.1
uvicorn==0.13.3
websockets==8.1
