<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>Calories Calculation Form</h2>
<p>Fill in the form and click the button to know how many calories you need!</p>
<form action="/calories_form" method="post">
    <p>Let's get some info about you first.</p>
    {{caloriesform.weight.label}} {{caloriesform.weight}}
    <br>
    {{caloriesform.height.label}} {{caloriesform.height}}
    <br>
    {{caloriesform.age.label}} {{caloriesform.age}}
    <br>
    <hr>
    <p>Today's weather counts too. <br> Tell us where you are so we include today's temperature into the calculations.</p>
    {{caloriesform.city.label}} {{caloriesform.city}}
    <br>
    {{caloriesform.country.label}} {{caloriesform.country}}
    <br>

    <br>
    {{caloriesform.button}}
    <br>
    {% if result==True %}
    <h3>You need {{calories}} calories (kcal) today</h3>
    {% endif %}
</form>
</body>
</html>